.units-config-item {
  background-color: var(--color-main-bg);
  color: var(--color-text-light);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;}